# tinyrox says don't edit this manually, but it can't stop you!

export(grpc_await)
export(grpc_call)
export(grpc_cancel)
export(grpc_client)
export(grpc_close)
export(grpc_decode)
export(grpc_fd)
export(grpc_finish)
export(grpc_method)
export(grpc_pending)
export(grpc_poll)
export(grpc_read)
export(grpc_reply)
export(grpc_send)
export(grpc_server)
export(grpc_server_port)
export(grpc_service)
export(grpc_state)
export(grpc_status_codes)
export(grpc_stream)
export(grpc_tls)
export(grpc_version)
export(grpc_writes_done)

S3method(grpc_cancel,grpc_call)
S3method(grpc_cancel,grpc_request)
S3method(grpc_cancel,grpc_stream)
S3method(grpc_close,grpc_client)
S3method(grpc_close,grpc_server)
S3method(grpc_fd,grpc_client)
S3method(grpc_fd,grpc_server)
S3method(grpc_pending,grpc_client)
S3method(grpc_pending,grpc_server)
S3method(grpc_poll,grpc_client)
S3method(grpc_poll,grpc_server)
S3method(grpc_send,grpc_request)
S3method(grpc_send,grpc_stream)

importFrom(methods,as)

useDynLib(grpc, .registration = TRUE)
